<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Buscar hospital..." (keyup)="onSearch(input.value)">
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <i class="fa fa-refresh fa-spin fa-2x d-block"></i>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button type="button" class="btn btn-primary btn-rounded" (click)="onAdd()"><i class="fa fa-plus mr-2"></i>Crear hospital</button>
        </div>

        <h3 class="card-title">Hospitales registrados (<small>{{totalRecords}}</small>)</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitals">
              <td class="w-70">
                <img [src]="hospital.img | image:'hospitals'" class="img-circle w-50" (click)="onClickImage(hospital)">
              </td>
              <td>
                <input type="text" name="name" class="form-control" [(ngModel)]="hospital.name">
              </td>
              <td>
                <button type="button" class="btn btn-primary mr-1" (click)="onSave(hospital)">
                  <i class="fa fa-save"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="onDelete(hospital)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button (click)="onPaginate(-5)" type="button" class="btn btn-secondary mr-1">
          Anterior
        </button>
        <button (click)="onPaginate(5)" type="button" class="btn btn-secondary">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>