<!-- TODO crear un componente buscador -->
<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Buscar médico..." (keyup)="onSearch(input.value)">
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn">
  <div class="col-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <i class="fa fa-refresh fa-spin fa-2x d-block"></i>
      <span>Espere por favor</span>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button type="button" class="btn btn-primary btn-rounded waves-effect waves-light" [routerLink]="['/doctor', 'new']">
            <i class="fa fa-plus mr-2"></i>Crear médico
          </button>
        </div>

        <h3 class="card-title">Médicos registrados (<small>{{totalRecords}}</small>)</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Hospital</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let doctor of doctors">
              <td class="w-70">
                <img [src]="doctor.img | image:'doctors'" class="img-circle w-50 pointer" (click)="onClickImage(doctor)">
              </td>
              <td>
                {{doctor.name}}
              </td>
              <td>
                {{doctor.hospital?.name}}
              </td>
              <td class="text-right">
                <button type="button" class="btn btn-primary mr-1" [routerLink]="['/doctor', doctor._id]">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="onDelete(doctor)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <button (click)="onPaginate(-5)" type="button" class="btn btn-secondary mr-1">
          Anterior
        </button>
        <button (click)="onPaginate(5)" type="button" class="btn btn-secondary">
          Siguiente
        </button>
      </div>
    </div>
  </div>
</div>