.pointer {
  cursor: pointer;
}

.w-50 {
  width: 50px;
}

.w-70 {
  width: 70px;
}

.w-150 {
  width: 150px;
}

.mask {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}